<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .darkened-image {
            background-image:
            linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url(https://64.media.tumblr.com/f9121aef2d5d27779cad66de41962d80/54be4cdcd652434f-9a/s1280x1920/807601bc1eb8be2419f302f175bd93ac22c30768.png);
            background-size:auto;
            background-position:center;
        }

        #pageimg{
            max-width:900px;
            max-height:900px;
        }

        .kategoriwrapper{
        display: inline-block;
        margin-right: 93%;
    }

    </style>
    <meta charset="UTF-8">
    <title>HjemmesideNavnHer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>
<body class="darkened-image">


<form class="list-group sticky-sm-top kategoriwrapper" method="POST" action="">
    {% csrf_token %}
    <div class="list-group sticky-sm-top">
        <button type="submit" name="id" value="0" class="list-group-item list-group-item-action">Alle</button>
        {% for kategori in kategorier %}
        <button type="submit" name="id" value="{{kategori.id}}" class="list-group-item list-group-item-action">{{kategori.navn}}</button>
        {% endfor %}
        <button type="button" class="list-group-item list-group-item-action" data-bs-toggle="modal" data-bs-target="#KModal">subscribe</button>
    </div>
</form>

<div class="container">

    <div class="btn-group-vertical sticky-sm-top buttongroup" role="group">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#RegistreringsModal">Profil</button>
        <a href="logout/"><button type="button" class="btn btn-primary">Log Out</button></a>
    </div>

    {% for billedet in billeder %}
        {% if billedet.kategori_id.id == valgtKategori %}
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
        <img id="pageimg" src={{billedet.billedet}}>
        <h4 style="background-color:#ffffff; padding: 0.5em;">{{billedet.beskrivelse}}</h4>
        <h5>Kategori: {{billedet.kategori_id.navn}}</h5>
            {% if bruger.id == billedet.upload_id.id %}
            <form method="POST" action="">
                {% csrf_token %}
                <button type="submit" name="billed" value="{{billedet.id}}" class="btn btn-danger">Slet</button>
            </form>
            {% endif %}
            <button type="submit" name="reportbilled" value="{{billedet.id}}" class="btn btn-danger">Rappoter</button>
        <br>
    </div>
      <div class="col">
      </div>
  </div>
        {% elif valgtKategori == 0 %}
    <div class="row">
        <div class="col">
    </div>
        <div class="col">
        <img id="pageimg" src={{billedet.billedet}}>
        <h4 style="background-color:#ffffff; padding: 0.5em;">{{billedet.beskrivelse}}</h4>
        <h5>Kategori: {{billedet.kategori_id.navn}}</h5>
            {% if bruger.id == billedet.upload_id.id %}
            <form method="POST" action="">
                {% csrf_token %}
                <button type="submit" name="billed" value="{{billedet.id}}" class="btn btn-danger">Slet</button>
            </form>
            {% endif %}
            <form  method="POST" action="">
                {% csrf_token %}
                <button type="submit" name="reportbilled" value="{{billedet.id}}" class="btn btn-danger">Rappoter</button>
            </form>
        <br>
        </div>
        <div class="col">
        </div>
    </div>
        {% endif %}
    {% endfor %}
</div>


<div class="modal fade" id="RegistreringsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Profil</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>Navn: {{bruger.navn}}</h5>
                <h5>Brugernavn: {{bruger.brugernavn}}</h5>
                <h5>Email: {{bruger.email}}</h5>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Luk</button>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#PModal">Ændre Kodeord</button>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#EModal">Ændre Email</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="PModal" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">Ændre Kodeord</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    {% csrf_token %}
                    {{password.as_p}}
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">luk</button>
                        <button type="submit" class="btn btn-primary">Gem Kodeord</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="EModal" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel3">Ændre Email</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    {% csrf_token %}
                    {{email.as_p}}
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">luk</button>
                        <button type="submit" class="btn btn-primary">Gem Email</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="KModal" tabindex="-1" aria-labelledby="exampleModalLabel4" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel4">vælg kategori</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    {% csrf_token %}
                    <select id="kategoriselect" name="kategori" class="kategori-dropdown">
                        {% for kategori in kategorier %}
                        <option value="{{kategori.id}}">{{kategori.navn}}</option>
                        {% endfor %}
                    </select>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">luk</button>
                        <button type="submit" class="btn btn-primary">Gem valg</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>